html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.overlay { 
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: black;
  opacity: 0.75;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

